.logo-ctl {
  width: 50px;
  height: 50px;
}

.logoname {
  color: blue; 
  font-weight: bold;
}

.myNav li a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.myNav li a:hover {
  color: blue; 
}

.hero-left h2 {
  color: black;
  padding-bottom: 10px;
  padding-top: 100px;
}

.hero-left p {
  color: black;
  font-size: 16px;
}

.hero-logo {
  color: blue; 
}

.hero-button {
  background: blue; 
  padding: 20px;
  border: 0px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.hero-button:hover {
  background: rgba(0, 0, 255, 0.949); 
}

.body-content {
  margin-top: 50px;
  background-color: rgb(243, 241, 241);
  padding: 30px;
  width: 435px;
  border: 5px solid white;
  margin-bottom: 50px;
  font-style:italic ;
}

.footer {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 30px;
}

.loginArea {
  min-height: 500px;
}

.loginBody {
  margin-top: 200px;
}

.loginbutton {
  background-color: blue; 
  font-size: 20px;
  color: white;
  border: 0px;
  padding: 10px 40px;
  border-radius: 0px;
}

.loginbutton:hover {
  background-color: black;
}

.loginBody input {
  border-radius: 0px;
}
.button{
  background: blue;
}